{
  "env": {
    "development": {
      "presets": ["vue-app"]
    },
    "production": {
      "presets": ["vue-app"]
    },
    "test": {
      "presets": [["vue-app", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
